<ion-view id="main-home"
    view-title="오늘 Nail"
    cache-view="true"
    can-swipe-back="false"
    hide-back-button="true"
    hide-nav-bar="false"
>
    <!-- Set navigation header -->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon-round"
            ng-click="Main.toggleSideMenu()"
        >
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-share-alt">
        </button>
    </ion-nav-buttons>



    <!-- Home Content -->
    <ion-content class="has-header">

        <!-- ROw 1 -->
        <div class="r1 row zero">
            <div class="c1 col zero">
            </div>
        </div>


        <!-- Row 2 -->
        <!-- APP SPECIFIC -->
        <div class="row row-search flex zero"
            ng-click="Home.searchHandler()"
        >
            <div class="c1 col-82 zero">
                <input type="text"
                    placeholder="상호명, 지역, 지하철 역을 검색하세요."
                    style="pointer-events:none;"
                    ng-model="Map.search"
                >
            </div>
            <div class="c2 col-10 flex"
            >
                <i class="ion-search"></i>
            </div>
        </div>

        <!-- Row 3 -->
        <div class="r3 row flex">
            <div class="c1 col-32 overall"
                touch
                ng-click="Home.goToHandler('main.daumMap')"
            >
                <i class="overall-icon"></i>
            </div>
            <div class="c2 col-32 favorite-shop"
                touch
                ng-click="Home.goToHandler('main.favorite')"
            >
                <i class="heart-icon"></i>
            </div>
        </div>

        <!-- Row 4 -->
        <div class="r4 row flex">
            <div class="c1 col-32 quick-service"
                touch
                ng-click="Home.goToHandler('main.daumMap')"
            >
                <i class="quick-service-icon"></i>
            </div>
            <div class="c2 col-32 show-off"
                touch
                ng-click="Home.goToHandler('main.show.list')"
            >
                <i class="show-off-icon"></i>
            </div>
        </div>
    </ion-content>

</ion-view>
