<ion-modal-view id="reserve-modal">
    <ion-content class="reserve-modal-content">
        <div class="content-wrapper relative">

            <div class="row row-close zero">
                <div class="col-15 col-x-icon zero flex"
                    ng-click="Schedule.closeModalHandler()"
                >
                    <i class="ion-ios-close-empty"></i>
                </div>
            </div>

            <div class="row row-service-container zero"
                ng-repeat="product in Schedule.Model.currentPlace.products"
                ng-click="Schedule.selectProductHandler(product)"
                ng-class="{selected: Schedule.isSelectedProduct(product)}"
            >
                <div class="col-20 flex zero">
                    <div class="circle">
                    </div>
                </div>
                <div class="col-80 flex-v zero">
                    <p>{{product.name}}</p>
                </div>
            </div>

            <div class="row-name row flex-v">
                <div class="col-20 col-name zero flex">
                    <p class="zero">이름</p>
                </div>
                <div class="col-65 col-input zero">
                    <input type="text" placeholder="이름을 입력해주세요."
                        ng-model="Schedule.Model.form.userKoreanName"
                    >
                </div>
            </div>

            <div class="row-phone row">
                <div class="col-20 col-phone zero flex">
                    <p class="zero">연락처</p>
                </div>
                <div class="col-65 col-phone-input zero">
                    <input type="number" placeholder="전화번호를 입력해주세요."
                        ng-model="Schedule.Model.form.userPhoneNumber"
                    >
                </div>
            </div>

            <div class="row-foot-note flex">
                <div class="col-wrapper">
                    <p class="zero">* 원하시는 디자어너가 있으시면 유선 연락 바랍니다.</p>
                    <p class="zero">* 예약취소는 '설정'을 이용해주세요.</p>
                </div>
            </div>

            <div class="row-reserve row flex">

               <div class="zero col-40 col-button flex"
                    ng-click="Schedule.bookingHandler();"
               >
                   <p class="zero">
                       예약
                   </p>
               </div>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
