#reserve-modal {
    background: rgba(0, 0, 0, 0.5);
    .reserve-modal-content {
        top: 44px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.9);
        padding:1px;
    }

    .row-close {
        .col-x-icon {
            margin: {
                left: 85%;
            }
            .ion-ios-close-empty {
                &::before {
                    font-size: 40px;
                    color: white;
                }
            }
        }
    }

    .row-service-container {
        height: 30px;
        &.selected {
            .circle {
                background: $positive;
            }
        }
        .circle {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 2px solid white;
            border-radius: 100%;
            margin: {
                right: 14px;
                left: 14px;
            }

        }
        p {
            margin: 0;
            color: white;
            font-size: 16px;
            line-height: 16px;
        }
    }

    .row-name {
        margin: {
            top: 20px;
        }
        .col-name {
            color: white;
        }
        .col-input {
            input {
                height: 25px;
                border: 1px solid white;
                width: 100%;
            }
        }
    }

    .row-phone {
        margin: {
            top: 20px;
        }
        .col-phone {
            color: white;
        }
        .col-phone-input {
            input {
                height: 25px;
                border: 1px solid white;
                width: 100%;
            }
        }
    }

    .row-foot-note {
        .col-wrapper {
            flex: 0 0 auto;
        }
        p {
            color: white;
            font-size: 12px;
        }
        margin: {
            top: 30px;
        }
    }

    .row-reserve {
        margin:{
            top: 44px;
            bottom: 22px;
        }
        .col-button {
            border: 2px solid white;
            color: white;
            text-align: center;
            height: 33px;
        }
    }
}
