<ion-view id="schedule"
    view-title="예약하기"
    cache-view="true"
    can-swipe-back="false"
    hide-back-button="false"
    hide-nav-bar="false"
>
    <!-- List Content -->
    <ion-content class="has-header">

        <ion-list>
            <ion-item class="r1 row-items row flex"
                choose
                collection-repeat="itemObj in Schedule.viewSlots"
                item-width="100%"
                item-height="vw * 0.15"
                item-render-buffer="3"
                force-refresh-images="false"
                ng-click="Schedule.itemHandler(itemObj)"
            >
                <div class="c1 col zero">
                    <span>
                        {{ itemObj.hour | hourToString }}
                    </span>
                    <div class="hacky-line"></div>
                </div>
                <div class="c2 col zero"
                >
                    <span class="not-available"
                        ng-if="itemObj.fullyBooked"
                    >
                        예약불가
                    </span>
                    <span class="available"
                        ng-if="!itemObj.fullyBooked"
                    >
                        예약가능
                    </span>
                    <div class="hacky-line"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>