// Dependencies:
//  daum map <script> with places library

#daum-map {
    $r1Height: 12vw;
    $r1BgColor: $light;
    .row + .row {
        margin-top: 0;
    }
    .r1 {
        height: $r1Height;
        background: $r1BgColor;
        padding: 1vw;
        .c1 {
            height: 100%;
            input {
                height: 100%;
                width: 100%;
                border-radius: 2px 0px 0px 2px;
                line-height: 4vw;
                font-size: 4vw;
                padding: 0 {
                  left: 2vw;
                }
            }
            ::-webkit-input-placeholder {
                font-size: 4vw;
                padding-top: .4vw;
                text-align: center;
                color: $light-grey;
            }
        }
        .c2 {
            height: 100%;
            border-radius: 0 2px 2px 0;
            background: white;
            i {
                &:before {
                    font-size: 7vw;
                }
            }
        }
    }
    .r2.row-daum-map {
        height: 100%;
        .c1 {
            height: 100%;
            [daum-map] {
                height: 100%;
                width: 100%;
            }
        }
    }
}
