#daumMapModal {
    background: rgba(0, 0, 0, 0.6);
    .row {
        width: 80vw;
        margin-left: 10vw;
    }

    .r1.row-title {
        color: white;
        height: 10vw;
        margin-top: 40vw;
        background: $positive;
        border-radius: 5px 5px 0 0 ;
        .c1 {
            padding-left: 10vw;
            text-align: center;
            span {
                font-size: 4vw;
            }
        }
        .c2 {
            font-size: 5vw;
        }
    }
    .r2.row-content {
        height: 60vw;
        .c1 {
            background: black;
            img {
                width: 100%;
                height: 60vw;
            }
            .description {
                height: 10vw;
                top: -11.2vw;
                left: 0;
                .row.row-description {
                    margin: 0;
                    padding: 0;
                    height: 10vw;
                    background: rgba(255,255,255, 0.5);
                    .c1 {
                        background: transparent;
                        img {
                            height: 7vw;
                            width: 5vw;
                        }
                    }
                    .c2 {
                        color: $positive;
                        font-size: 3.5vw;
                    }
                    .c3 {
                        .more-icon {
                            content: url('../img/800/icon_more.png');
                            width: 20vw;
                            height: 6vw;
                        }
                    }
                }
                .test2 {
                    color: white;
                }
            }
        }
    }
}