<ion-view id="daum-map"
          cache-view="true"
          can-swipe-back="false"
          hide-back-button="true"
          hide-nav-bar="false"
        >
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-android-arrow-back"
                ng-click="Map.goToHandler('main.home')"
                >
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        {{Map.title}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-pinpoint"
                ng-click="Map.findMeThenSearchNearBy()"
                >
        </button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader zero">
        <div class="r1 row row-search flex zero">
            <div class="c1 col-30 zero">
                <select ng-model="Map.searchType">
                    <option value="address">지역</option>
                    <option value="placeName">상호명</option>
                </select>
            </div>
            <div class="c2 col-55 zero">
                <input id="daum-map-search-input" type="text"
                    placeholder="상호명, 지역, 지하철 역을 검색하세요."
                    ng-model="Map.search"
                    ng-enter="Map.searchLocationNearBy(Map.search);"
                        >
            </div>
            <div class="c3 col-10 flex"
                 touch
                 ng-click="Map.searchLocationNearBy(Map.search);"
                    >
                <i class="ion-search"></i>
            </div>
        </div>
    </ion-header-bar>

    <ion-content class="has-subheader"
                 data-tap-disable="true"
                 scroll="false"
            >
        <div class="r2 row row-daum-map zero">
            <div class="c1 col zero">
                <div daum-map
                     marker-src="img/800/icon/icon_map_b.png"
                     marker-clicked-src="img/800/icon/icon_map_b.png"
                     marker-disabled-src="img/icon_map_h.png"
                     marker-width="30"
                     marker-height="43"
                        ></div>
            </div>
        </div>

    </ion-content>

</ion-view>
