#main {
    .row + .row {
        margin: 0;
    }

    $list-height: 12.5vw;

    // Side Menu Styling //
    .side-menu-content {
        background: $sub-stable;

        .row-header {
            height: 26vw;
            border: {
                bottom: 1px solid $stable;
            }
        }

        .row-menu-list {
            height: $list-height;
            border: {
                bottom: 1px solid $stable;
            }
            box-sizing: border-box;
            .col-list-text {
                margin: {
                    left: 5%;
                }
                p {
                    font-size: 4vw;
                    line-height: 4vw;
                    margin: 0;
                    color: white;
                }
            }
            .col-icon {
                i {
                    font-size: 5vw;
                    color: $dark-grey;
                }
            }
            &.selected {
                background: white;
                border-bottom: 0;
                .col-list-text {
                    p {
                        color: $positive;
                    }
                }
                .col-icon {
                    i {
                        color: $aqua
                    }
                }
            }
        }
    }

    .accordion {
        .row-menu-list {
            background: $dark-sub-stable;
            height: $list-height;
            i:before {
                font-size: 6vw;
                color: white;
            }
        }
        .activate {
            i:before {
                color: $positive;
            }
        }
    }
    .side-menu-footer {
        background: $sub-stable;
        .side-menu-footer-icon {
            color: white;
        }
    }
}
