<ion-view view-title="즐겨찾는 shop" id="favorite">
    <ion-content>
        <ul class="list">
            <li class="r1 shop-list row row-item auto radius-top radius-bottom shadow"
                ng-repeat="place in Favorite.Model.placeList"
                ng-click="Favorite.goToDetailHandler(place)"
            >
                <div class="c1 col-25 place-image flex">
                    <img ng-src="{{place.photos[0].url}}">
                </div>
                <div class="c2 col-75 row wrap zero">
                    <div class="col-100 place-name">
                        <span>{{place.name}}</span>
                    </div>
                    <div class="col-100 row detail">
                        <div class="col-10">
                            <i class="place-icon"></i>
                        </div>
                        <div class="col-60 place-address">
                            <span>{{place.address}}</span>
                        </div>
                        <div class="col-30">
                            <i class="detail-icon"></i>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </ion-content>
</ion-view>
