#login {
    ion-content.bg {
        background: url('../img/800/02_1_login/login_bg.png') no-repeat;
        background-size: cover;
        background-position: center;

        .r1 {
            margin-top: 110vw;
            .c1 {
                .facebook-button {
                    width: 100%;
                    content: url($img + '02_1_login/login_fb.png');
                }
            }
        }
        .r2 {
            margin:{
                top: 1vw;
                bottom: 5vw;
            }
            .c1 {
                .kakao-button {
                    width: 100%;
                    content: url($img + '02_1_login/login_06.png');
                }
            }
        }
    }
}