<ion-view id="login">
    <ion-content class="no-header bg">
        <div class="row r1 flex">
            <div class="c1 col-57"
                ng-click="Login.loginWithKaKaoTalk();"
            >
                <i class="facebook-button"></i>
            </div>
        </div>
        <div class="row r2 flex">
            <div class="c1 col-57"
                ng-click="Login.loginWithFaceBook();"
            >
                <i class="kakao-button"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
