#show-modal {
    ion-content {
    }
    .row {
        background: white;
    }
    .r1 {
        margin: 0 auto {
            top: 20vw;
        }
        background: $positive;
        height: 12vw;
        .c1 {
            text-align: center;
            padding: {
                left: 20%;
            }
            span {
                color: white;
                font-size: 5vw;
            }
        }
        .c2 {
            text-align: center;
            padding: {
                left: 5%;
            }
            button {
                &:before {
                    font-size: 15vw;
                    color: white;
                }
            }
        }
    }
    .r2 {
        padding: {
            top: 5vw;
        }
        margin: 0 auto;

        /* 2015.12.10 수정 */
        .col {
            background: none;
            font-size: 4vw;
            color: #5f008b;
            height: 12vw;
            padding: {
                top: 3vw;
            }
            text-align: center;
        }
        .c1 {
            border: 1px solid #5f008b;            
            border-radius: 7px;

            margin: {
                right: 1vw;
            }
        }
        /* 2015.12.10 수정 */
        .c2 {
            border: 1px solid #5f008b;            
            border-radius: 7px;
            margin: {
                left: 1vw;
            }
        }
    }

    .row-image{
        width: 90%;
        margin: 0 auto;
        padding: 2vw;
        .camera-image {
            display: block;
            width: 100%;
            height: 78vw;
        }
    }

    /* 2015.12.10 수정 */
    .r3 {
        padding-top: 1vw;
        margin: 0 auto;
        .c1 {
            color: #5D5D5D;
            margin-left: 4%;
            font-size: 4vw;
            span {
                display: block;
                margin-top: 1vw;
            }

            input {
                margin-top: 5px;
                margin-bottom: -15px;
                margin-left: 0%;
                border-radius: 7px;
                border: 1px solid #5f008b;
                width: 96%;
                height: 12vw;
                max-height: 55vw;
            }
        }
        .c2 {
            border-radius: 7px;
            border:  2px solid #5f008b;
                            margin: -5px;
                margin-left: 4%;

        }
    }

    /* 2015.12.10 수정 */
    .r4 {
        padding: {
            top: 5vw;
        }
        margin: 0 auto;
        .c1 {
            font-size: 4vw;
            text-align: left;
            p {
                padding: {
                    left: 4%;
                }
                color: #5D5D5D;
            }
            textarea {
                margin: -5px;
                margin-left: 4%;
                border-radius: 7px;
                border: 1px solid #5f008b;
                width: 92%;
                height: 55vw;
                max-height: 55vw;
            }
        }
    }

    .r5 {
        padding: {
            bottom: 5vw;
        }
        margin: 0 auto;
        .c1 {
            text-align: center;
            margin-top: 5vw;
            height: 10vw;
            background: #e63e96;
            font-size: 5vw;
            color: white;
            padding-top: 2vw;
        }
    }
}
