#balance-detail {
    .r1 {
        margin: {
            top: 5vw;
        }
        i {
            content: url($img + 'icon/icon_money.png');
            width: 100%;
        }
    }

    .r2 {
        margin: {
            top: 3vw;
        }
        .c1 {
            text-align: center;
            h3 {
                color: $positive;
            }
            .name {
                color: $positive;
            }

        }
    }

    .r3 {
        width: 60%;
        background: $positive;
        height: 13vw;
        margin-top: 5vw;
        color: white;
        .c1 {
            text-align: right;
            padding-right: 5vw;
            span {
                font-size: 5vw;
            }
        }
    }
}
