    .favorite-place {
        color: #E84390 !important;
    }
#detail {
    .row + .row {
        margin: 0;
    }

    .non-row-slide-box {
        .row-slides {
            height: 61.5vw;
            .place-image {
                height: 100%;
                width: 100vw;
            }
        }
    }

    .detail-container {
        width: 90%;
        margin-top: 2vw;
        p {
            margin-bottom: 1.5vw;
            font-size: 3.5vw;
            font-weight: bold;
        }
        .product-list {
            @extend p;
            margin-bottom: 2vw;
        }
        .col-title {
            color: $dark;
        }
        .col-text {
            color: $dark-grey;

        }
    }

    .portfolio-scroll {
        height: 37vw;
        margin-top: 1px;
        .inner-scroll-item {
            flex: 0 0 74vw;
            img {
                width: 100%;
                height: 37vw;
            }
        }
    }

    .row-reserve-title {
        background: $positive;
    }

    .date-picker-container {
        background: $stable;
        padding: 1px;
    }

    $date-text-color: #fffff8;
        .date-picker {
            margin: {
                top: 5vw;
                bottom: 55px;
            }
            table {
                width: 90%;
                margin: 0 auto;
                * {
                    background: $stable;
                    border: 0;
                }
                thead {
                    * {
                        border: 0;
                        background: $stable;
                    }
                    // Date title
                    .btn {
                        position: relative;
                        top: 2.5vw;
                        color: $date-text-color;
                    }
                    .icon {
                        color: $date-text-color;
                    }
                    small {
                        color: $date-text-color;
                    }
                }
                tbody {
                    td {
                        height: 13vw;
                        button {
                            height: 12.5vw;
                            border-radius: 100%;
                            span {
                                background: transparent;
                                color: $date-text-color;
                                font-weight: bold
                            }
                            span.text-muted {
                                color: #888;
                            }
                        }
                        button.active {
                            background: $date-text-color;
                            span {
                                color: $positive;
                            }
                        }
                        button[disabled] {
                            span {
                                color: grey;
                            }
                        }
                    }
                }
            }
        }

}
