/* 2015.12.10 수정 */

    .favorite-place {
        color: #E84390 !important;
    }
#detail {
    .row + .row {
        margin: 0;
    }

    .non-row-slide-box {
        .row-slides {
            height: 61.5vw;
            .place-image {
                height: 100%;
                width: 100vw;
            }
        }
    }

    .row-title-bar {
        background: $positive;
    }

    .detail-container {
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 5vw;
        .rowrow {
            margin-left: 1.5vw;
            margin-top: -2.5vw;
            margin-bottom: 3vw;
        }
        .call {
            font-size: 3vw;
            font-weight: 500;
            padding-left: 1.5vw;
            padding-right: 1.5vw;
            padding-top: 0.2vw;
            padding-bottom: 0.5vw;
            border-left: 1px solid #9d9d9d;
            border-right: 1px solid #9d9d9d;
            border-top: 1px solid #9d9d9d;
            border-bottom: 1px solid #9d9d9d;
            border-radius: 7px 7px 7px 7px;
        }
        p {
            margin-bottom: 1.5vw;
            font-size: 3.5vw;
            font-weight: 500;
        }
        .product-list {
            @extend p;
            margin-bottom: 2vw;
        }
        .col-title {
            color: $positive;
        }
        .col-text {
            color: #6b6b6b;

        }
    }

    .portfolio-scroll {
        height: 37vw;
        margin-top: 1px;
        .inner-scroll-item {
            flex: 0 0 74vw;
            img {
                width: 100%;
                height: 37vw;
            }
        }
    }

    .row-reserve-title {
        background: $positive;
    }

    .date-picker-container {
        background: white;
        padding: 1px;
    }

    $date-text-color: $positive;
        .date-picker {
            margin: {
                top: 5vw;
                bottom: 55px;
            }
            table {
                width: 90%;
                margin: 0 auto;
                * {
                    background: white;
                    border: 0;
                }
                thead {
                    * {
                        border: 0;
                        background: white;
                    }
                    // Date title
                    .btn {
                        position: relative;
                        top: 2.5vw;
                        color: $date-text-color;
                    }
                    .icon {
                        color: $date-text-color;
                    }
                    small {
                        color: $date-text-color;
                    }
                }
                tbody {
                    td {
                        height: 13vw;
                        button {
                            height: 12.5vw;
                            border-radius: 100%;
                            span {
                                background: transparent;
                                color: $date-text-color;
                                font-weight: 500;
                            }
                            span.text-muted {
                                color: #cacaca;
                            }
                        }
                        button.active {
                            background: $positive;
                            span {
                                color: white;
                            }
                        }
                        button[disabled] {
                            span {
                                color: #cacaca;
                            }
                        }
                    }
                }
            }
        }

}
