<ion-view id="notice-list"
    view-title="공지 사항"
    cache-view="true"
    can-swipe-back="false"
    hide-back-button="false"
    hide-nav-bar="false"
>
    <!-- List Content -->
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="새로운 내용이 있는지 보시려면 힘것 당기세요."
            on-refresh="NoticeList.getNewerPosts()"
        >
        </ion-refresher>

        <div class="r1 no-post row no-post row-90 flex radius"
            ng-if=""
        >
            <div class="c1 col">
                <h2 class="title">오늘 nail 공지사항</h2>
                <p class="message">공지사항이 없습니다.</p>
            </div>
        </div>

        <ion-list>
            <ion-item class="r2 row-items row zero flex"
                collection-repeat="post in NoticeList.Model.postsWrapper.posts"
                item-width="100%"
                item-height="vw * 0.16"
                item-render-buffer="3"
                force-refresh-images="false"
                ng-click="NoticeList.goToDetailHandler(post)"
                touch
            >
                <div class="c1 col-10 col image flex">
                    <i class="notice-icon"></i>
                </div>

                <div class="c2 col-60 col content">
                    <span class="col">{{post.title}}</span>
                </div>

                <div class="c3 col-30 col flex">
                    <span class="time col">{{ post.createdAt | date : format : timezone }}</span>
                </div>

            </ion-item>
        </ion-list>
        <!-- Checked immediately as soon as page is entered. -->
        <ion-infinite-scroll
            on-infinite="NoticeList.getOlderPosts()"
            distance="1%"
            spinner="true"
            immediate-check="false"
            ng-if="NoticeList.checkForMore()"
        >
        </ion-infinite-scroll>

    </ion-content>

</ion-view>
