#main {
    .row + .row {
        margin-top: 0;
    }
    .status-letter {
        margin-left: -5vw;   /* 2015.12.10 추가 */
        color: gray;        /* 2015.12.10 수정 */
        font-weight: bold;
    }
    .activate {
        .status-letter {
            color: $positive;
            margin-left: -5vw;   /* 2015.12.10 추가 */
        }
    }

    $list-height: 14vw;      /* 2015.12.10 수정 */
            .col-picture {
                .picture {
                    display: block;
                    width: 100%;
                    height: 20vw;
                }
            }
            .col-username {
                margin-left: 5%;     /* 2015.12.10 수정 */
                margin-top: 12%;     /* 2015.12.10 추가 */

            }
    // Side Menu Styling //
    .side-menu-content {
        background: #ffffff;     /* 2015.12.10 수정 */

        .row-header {
            margin-bottom: 5vw;     /* 2015.12.10 추가 */
            background: $positive;    /* 2015.12.10 추가 */
            height: 46vw;            /* 2015.12.10 수정 */
            border: {
                bottom: 1px solid $stable;
            }

            /* 2015.12.10 추가 */
            .under_line {
                        width: 7vw;
                        height: 1px;
                        background: #ffffff;
                        margin-bottom : 7px;
            }
        }

        .row-menu-list {            
            background:#ffffff;         /* 2015.12.10 추가 */
            height: $list-height;
            box-sizing: border-box;     /* 2015.12.10 추가 */
            .col-list-text {
                /* 2015.12.10 수정 */
                margin: {
                    left: 10%;
                }
                /* 2015.12.10 수정 */
                p {
                    font-size: 3.5vw;
                    line-height: 4vw;
                    margin: 0;
                    color: black;
                }
                /* 2015.12.10 추가 */
                img {
                    width: 3.2vw;
                    height: 3.3vw;
                }
            }     

            .col-icon {
                i {
                    font-size: 5vw;
                    color: $dark-grey;
                }
            }

            /* 2015.12.10 수정(주석처리) */
            /* &.selected {
                background: #FFE8FF;
                border-bottom: 0;
                .col-list-text {
                    p {
                        color: #FFE8FF;
                    }
                }
                .col-icon {
                    i {
                        color: $aqua
                    }
                }
            } */
        }
    }

    /* 2015.12.10 추가 */
    .under_line_2 {                     
                    margin-top: 7vw;
                    margin-left: auto;
                    margin-right: auto;
                    width: 75%;
                    height: 1px;
                    background: #000000;
                        
            }

    .accordion {
        .row-menu-list {
            background: $dark-sub-stable;
            height: $list-height;
            i:before {
                font-size: 6vw;
                color: white;
            }
        }
        .activate {
            i:before {
                color: $positive;
            }
        }
    }
    .side-menu-footer {
        background: #ffffff;    /* 2015.12.10 수정 */
        .side-menu-footer-icon {
            color: white;
        }
    }
}
