<ion-view id="main">
    <ion-side-menus>
        <ion-side-menu-content
                edge-drag-threshold="false"
                drag-content="false"
                >
            <!-- Main View -->
            <ion-nav-bar class="bar-positive"
                         align-title="center"
                         no-tap-scroll="true"
                         delegate-handle="main"
                    >
                <ion-nav-back-button>
                </ion-nav-back-button>
            </ion-nav-bar>

            <ion-nav-view name="main">
            </ion-nav-view>

        </ion-side-menu-content>

        <!-- Side Menu -->
        <ion-side-menu side="left" class="side-menu-container">
            <ion-content class="side-menu-content">
                <ul>

                    <!-- Row 1 -->
                    <li class="r1 row row-header flex">
                        <div class="col-30 col-picture">
                            <img class="picture circle"
                                 ng-src="{{Main.Model.user.profile_image || Main.Model.user.gravatarUrl || Main.Model.user.thumbnail_image || 'http://lorempixel.com/400/400'}}"
                                    >
                        </div>
                        <div class="col-60 col-username">
                            <span class="username">
                                {{ Main.displayUserName()}} 님
                            </span>
                        </div>
                    </li>

                    <!-- Side Menu list -->
                    <li class="r2 row row-menu-list flex-v zero"
                        ng-repeat="item in Main.Model.sideMenuLists"
                        ng-class="
                            {'selected':
                                Main.getCurrentState() === item.state
                            }
                        "
                        ng-click="Main.menuSelectHandler(item)"
                            >
                        <div class="col-85 col-list-text zero">
                            <p> {{ item.text }} </p>
                        </div>
                        <div class="col-10 col-icon">
                            <i class="ion-ios-arrow-right"></i>
                        </div>
                    </li>
                </ul>

                <div class="row row-menu-list flex-v row-setting zero"
                     ng-click="Main.toggleAccordion();"
                        >
                    <div class="col-85 col-list-text zero">
                        <p>설정</p>
                    </div>
                    <div class="col-10 col-icon zero">
                        <i class="ion-ios-arrow-right"></i>
                    </div>

                </div>
                <div class="accordion"
                     ng-show="Main.settingSubMenu === true"
                        >

                    <!--                         <div class="row row-menu-list row-accordion flex-v zero"
                                                ng-click="Main.toggleSettingHandler('location')"
                                                ng-class="{'activate': Main.Model.setting.location === 'on'}"
                                            >
                                                <div class="col-30 col-list-text">
                                                    <p>위치설정</p>
                                                </div>
                                                <div class="col-20">
                                                    <i class="ion-android-locate"></i>
                                                </div>

                                            </div>
                     -->
                    <div class="row row-menu-list flex-v zero"
                         ng-click="Main.togglePushHandler()"
                         ng-class="{'activate': Main.Model.setting.pushNotification === true}"
                            >
                        <div class="col-30 col-list-text">
                            <p>푸쉬알람</p>
                        </div>
                        <div class="col-20">
                            <i class="ion-ios-bell"></i>
                        </div>
                        <div class="col-20 status-letter">
                            <span ng-if="Main.Model.setting.pushNotification">
                                ON
                            </span>
                            <span ng-if="!Main.Model.setting.pushNotification">
                                OFF
                            </span>
                        </div>

                    </div>

                </div>
            </ion-content>

            <ion-footer-bar class="side-menu-footer flex" touch>
                <i class="side-menu-footer-icon"></i>
            </ion-footer-bar>

        </ion-side-menu>

    </ion-side-menus>


</ion-view>
