<ion-view id="detail"
    cache-view="true"
    can-swipe-back="false"
    hide-back-button="true"
>
<ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
        ng-click="Detail.goBackHandler();"
    >
    </button>
</ion-nav-buttons>
<ion-nav-title>
    {{Detail.Model.currentPlace.name}}
</ion-nav-title>
<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-heart">
    </button>
</ion-nav-buttons>


    <!-- List Detail Content -->
    <ion-content class="has-header">

        <ion-slide-box class="non-row-slide-box" show-pager="true">
            <ion-slide class="row-slides zero"
                ng-repeat="photo in Detail.Model.currentPlace.photos"
            >
                <img class="place-image"
                    ng-src="{{photo.url}}"
                >
            </ion-slide>
        </ion-slide-box>

        <!-- 상세정보 -->
        <div class="row row-title-bar">
            <div class="c1 col">
                <h3>상세정보</h3>
            </div>
        </div>
        <div class="detail-container auto">
            <div class="row">
                <div class="col-21 col-title">
                    <p class="zero">이용시간</p>
                    <p class="zero">전화번호</p>
                    <p class="zero">주소</p>
                    <p class="zero">가격정보</p>
                </div>
                <div class="col-79 col-text">
                    <p class="zero">TODO: 10:00 ~ 21:00</p>
                    <p class="zero">{{Detail.Model.currentPlace.phone}}</p>
                    <p class="zero text-overflow">{{Detail.Model.currentPlace.address}}</p>
                    <ul class="product-list">
                        <li class="product-item"
                            ng-repeat="product in Detail.Model.currentPlace.products | orderBy:'price'"
                        >
                            {{product.name}} - {{product.price}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- 포트폴리오 -->
        <div class="row row-title-bar zero flex">
            <div class="c1 col zero">
                <h3 class="zero">포트폴리오</h3>
            </div>
        </div>
        <ion-scroll class="portfolio-scroll"
            zooming="false"
            direction="x"
            parent-scroll
        >
            <div class="portfolio-inner-scroll row zero"
            >
                <div class="col inner-scroll-item zero"
                    ng-repeat="portfolioPhoto in Detail.Model.currentPlace.photos"
                >
                    <img ng-src="{{portfolioPhoto.url}}">
                </div>
            </div>
        </ion-scroll>


        <!-- 예약현황 -->
        <div class="row row-title-bar row-reserve-title">
            <div class="col">
                <h3>원하는 날짜를 선택해주세요.</h3>
            </div>
        </div>

        <!-- {{Detail.Model.test}} -->
        <div class="date-picker-container">
            <!--  -->
            <datepicker class="date-picker"
                ng-model="Detail.date"
                show-weeks="false"
                custom-class="Detail.dateStyler(date, mode)"
            >
            </datepicker>
        </div>
















    </ion-content>

</ion-view>
