<ion-view id="detail"
    view-title="{{Detail.currentPlace.name}}"
    cache-view="false"
    can-swipe-back="false"
    hide-back-button="false"
    hide-nav-bar="false"
>
    <!-- Set navigation header -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-share-alt">
        </button>
    </ion-nav-buttons>

    <!-- List Detail Content -->
    <ion-content class="has-header">

        <!-- Slide box of details photos -->
        <ion-slide-box class="r1 non-row-slide-box"
            delegate-handle=""
            does-continue="false"
            auto-play="false"
            slide-interval="4000"
            show-pager="true"
            pager-click=""
            on-slide-changed="Detail.slideChangedFrom($index)"
            active-slide=""
        >
            <ion-slide class="row-slides row"
            >
                <div class="c1 col">
                    <img ng-src="{{Detail.currentPlace.photos[0].url}}">
                </div>
            </ion-slide>
            <ion-slide class="row-slides row"
            >
                <div class="c1 col">
                    <img ng-src="{{Detail.currentPlace.photos[1].url}}">
                </div>
            </ion-slide>
            <ion-slide class="row-slides row"
            >
                <div class="c1 col">
                    <img ng-src="{{Detail.currentPlace.photos[2].url}}">
                </div>
            </ion-slide>
        </ion-slide-box>

        <!-- Details Section -->
        <div class="r2 row-detail-title row title-bar">
            <div class="c1 col">
                <h3>상세정보</h3>
            </div>
        </div>
            <div class="r21 row-desc1 row">
                <div class="c1 col-20 col-sub-title">
                    <span class="sub-title">이용시간</span>
                </div>
                <div class="c2 col-80">
                    <span>{{ Detail.currentPlace.hours[0] | hourToString }}</span>
                    <span> ~ </span>
                    <span>{{ Detail.currentPlace.hours[1] | hourToString }}</span>
                </div>
            </div>
            <div class="r22 row-desc2 row">
                <div class="c1 col-20 col-sub-title">
                    <span class="sub-title">전화번호</span>
                </div>
                <div class="c2 col-80">
                    <span>{{ Detail.currentPlace.phone }}</span>
                </div>
            </div>
            <div class="r23 row-desc3 row">
                <div class="c1 col-20 col-sub-title">
                    <span class="sub-title">주소</span>
                </div>
                <div class="c2 col-80">
                    <span>{{Detail.currentPlace.address}}</span>
                </div>
            </div>
            <div class="r24 row-desc4 row">
                <div class="c1 col-20 col-sub-title">
                    <span class="sub-title">가격정보</span>
                </div>
                <div class="c2 col-80">
                    <ul class="service-list">
                        <li class="service-items"
                            ng-repeat="service in Detail.currentPlace.services"
                        >
                            <span>{{ service.name }}</span>
                            <span> - </span>
                            <span> {{ service.price }} </span>
                        </li>
                    </ul>
                </div>
            </div>


        <div class="row-detail-title row title-bar">
            <div class="c1 col">
                <h3>포트폴리오</h3>
            </div>
        </div>

        <div>
            <ion-scroll class="portfolio"
                zooming="false"
                direction="x"
                scrollbar-x="false"
            >
                <div class="port-container">
                    <img ng-src="{{portfolioPhoto.url}}"
                        ng-repeat="portfolioPhoto in Detail.currentPlace.portfolioPhotos"
                    >
                </div>
            </ion-scroll>
        </div>
        <!--Additional Section: SCHEDULER -->
        <div class="r3 row-detail-title row title-bar">
            <div class="c1 col">
                <h3>예약현황</h3>
            </div>
        </div>

        {{}}
        <datepicker class="date-picker"
            ng-model="Detail.date"
            show-weeks="false"
            custom-class="Detail.dateStyler(date, mode)"
        >
        </datepicker>
















    </ion-content>

</ion-view>
