#event-list {
    .r1.no-post {
        margin-top: 2vw;
        border: 1px solid $positive;
        background: $light;

        .title {
            font-size: 4vw;
            text-align: center;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 2vw;
            border-bottom: 1px solid $positive;
            color: $positive;
        }
        .message {
            font-size: 4vw;
            color: #555;
            margin-top: 2vw;
            text-align: center;
        }
    }

    /* 2015.12.10 수정 */
    .r2.row-items {
        background: white;
        padding-bottom: 3vw;
        .c1 {
            border: {
                bottom: 1px solid #adadad;
            }
            img {
                width: 100%;
                max-height: 26vw;
                margin-left: 3vw;
            }

        }

        /* 2015.12.10 수정 */
        .c2 {
            border: {
                bottom: 1px solid #adadad;
            }
            .title {
                width: 80%;
                font-size: 4vw;
                font-weight: bold;
                margin-left: 5vw;
                margin-top: 4vw;
                color: black;
            }
            .time {
                color: #000000;
                font-size: 3vw;
                margin-top: -1.5vw;
                margin-left: 4vw;
                color: #adadad;
            }
            .content {
                font-size: 3.3vw;
                color: black;
                margin-left: 5vw;
            }
        }
    }
}
