<ion-view id="event-list"
    view-title="이벤트"
    cache-view="true"
    can-swipe-back="false"
    hide-back-button="true"
    hide-nav-bar="false"
>
    <!-- Set navigation header -->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon"
            ng-click="Main.toggleSideMenu()"
        >
        </button>
    </ion-nav-buttons>

    <!-- List Content -->
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="새로운글 보기"
            on-refresh="EventList.getNewerPosts()"
            disable-pulling-rotation="false"
        >
        </ion-refresher>

        <div class="r1 row no-post row-90 flex radius"
            ng-if=""
        >
            <div class="c1 col">
                <h2 class="title">오늘 nail 이벤트</h2>
                <p class="message">진행중인 이벤트가 없습니다.</p>
            </div>
        </div>

        <ion-list>
            <ion-item class="r2 row-items row zero"
                collection-repeat="post in EventList.Model.postsWrapper.posts"
                item-width="95%"
                item-height="vw * 0.30"
                item-render-buffer="3"
                force-refresh-images="false"
                ng-click="EventList.goToDetailHandler(post)"
                touch
            >
                <div class="c1 col-30 image zero flex">
                    <img ng-src="{{post.photos[0] && post.photos[0].url}}">
                </div>

                <div class="c2 col-70 content">
                    <h2 class="title">
                        {{ post.title }}
                    </h2>
                    <p class="content">
                        {{ post.summary }}
                    </p>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            on-infinite="EventList.getOlderPosts()"
            distance="1%"
            spinner="true"
            immediate-check="false"
            ng-if="EventList.checkForMore()"
        >
        </ion-infinite-scroll>

    </ion-content>

</ion-view>
