#event-list {
    .r1.no-post {
        margin-top: 2vw;
        border: 1px solid $positive;
        background: $light;

        .title {
            font-size: 4vw;
            text-align: center;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 2vw;
            border-bottom: 1px solid $positive;
            color: $positive;
        }
        .message {
            font-size: 4vw;
            color: #555;
            margin-top: 2vw;
            text-align: center;
        }
    }

    .r2.row-items {
        background: none;
        padding-bottom: 3vw;
        margin: {
            top: 2vw;
            left: 2.5%;
        }
        .c1 {
            border: {
                top: 1px solid $positive;
                left: 1px solid $positive;
                bottom: 1px solid $positive;
            }
            img {
                width: 100%;
                max-height: 26vw;
            }

        }
        .c2 {
            border: {
                top: 1px solid $positive;
                right: 1px solid $positive;
                bottom: 1px solid $positive;
            }
            text-align: center;
            .title {
                width: 80%;
                font-size: 4.5vw;
                margin: 0 auto;
                padding-bottom: 2vw;
                margin-top: 5vw;
                color: $positive;
                border-bottom: 1px solid $positive;
            }
            .content {
                margin-top: 2vw;
                font-size: 3.5vw;
            }

        }
    }
}
