#event-detail {
    .r1 {
        .c1 {
            border-bottom: 2px solid $positive;
            margin:{
                top: 1vw;
            }
            h2 {
                font-size: 6vw;
                color: $positive;
                padding: {
                    left: 5%;
                }
            }
        }
    }

    .r2 {
        .c1 {
            margin-top: 3vw;
            img {
                width: 100%;
            }
        }
    }

    .r3 {
        .c1 {
            p {
                font-size: 3.5vw;
            }
        }
    }

}
