#cancel {
    .row-list {
        width: 98%;
        margin: 5px auto !important;
        border: 1px solid #aaa;
        .shop-name {
            font-size: 18px;
            span {
                color: $positive;
            }
        }
        .c1 {
            span {
                color: $positive;
            }
        }
        .c2 {
            background: #e53e96;
            text-align: center;
            height: inherit;
            padding-top: 10vw;
            span {
                font-size: 6vw;
                color: white;
            }
        }

    }
}
