#cancel {
    .row-list {
        width: 98vw;
        border: 1px solid #aaa;
        margin: {
            top: 1vw;
        }
        .shop-name {
            font-size: 5vw;
            span {
                color: $positive;
            }
        }
        .c1 {
            span {
                color: $positive;
            }
        }
        .c2 {
            background: #e53e96;
            text-align: center;
            height: inherit;
            padding-top: 10vw;
            span {
                font-size: 6vw;
                color: white;
            }
        }

    }
}