.bar-header {
    .favorite-post.button {
        color: tomato;
    }
}
#show-detail {
    .bar-positive{
    }
    .r1 {
        .c1 {
            img {
                width: 100%;
                height: 80vw;
            }
        }
    }
    .r2 {
        .c1 {
            .title {
                font-size: 4vw;
                margin-top: 2vw;
            }
            .username {
                color: $stable;
                font-size: 3.5vw;
            }
            .counts {
                margin-top: 1vw;
                font-size: 3.3vw;
                color: grey;
            }
        }
    }
    .r3 {
        padding: {
            top: 2vw;
            bottom: 2vw;
        }
        background: #f8f8f8;
        .c1 {
            height: 8vw;
            margin: {
                left: 1vw;
            }
            textarea {
                padding: 3px;
                max-height: 8vw;
                max-width: 100%;
                width: 100%;
                height: 100%;
                border: 1px solid $positive;
            }
        }
        .c2 {
            height: 8vw;
            text-align: center;
            background: $positive;
            border: 1px solid $positive;
            color: white;
            margin: {
                left: 2vw;
                right: 1vw;
            }
            span {
                font-size: 3.5vw;
            }
        }
    }
    .r4 {
        //&:last-of-type {
        //    padding-bottom: 30px;
        //}
        background: #f3f3f3;
        border-bottom:1px solid #c2c2c2;
        .c1 {
            .username {
                font-size: 3.3vw;
                color: $stable;
                margin-bottom: 1vw;
            }
            .comment {
                font-size: 4vw;
                color: #000000; 
                margin-bottom: 0.1vw;           
            }
        }
    }
}
