<ion-view id="schedule"
          view-title="예약하기"
          cache-view="false"
          hide-back-button="false"
        >
    <!-- List Content -->
    <ion-content class="has-header">
        <ul ng-if="Schedule.Model.viewSlots.length > 1 ">
            <li class="r1 row-items row flex"
                ng-repeat="reserveSlot in Schedule.Model.viewSlots track by $index"
                ng-class="{selected: Schedule.isSelectedSlot(reserveSlot)}"
                ng-click="Schedule.selectSlotHandler(reserveSlot, $index)"
                    >
                <div class="c1 col zero">
                    <span>
                        {{ reserveSlot.format('HH:mm')}}
                    </span>
                </div>
                <div class="c2 col zero"
                        >
                    <span class="not-available"
                          ng-if="!Schedule.isAvailableSlot(reserveSlot)"
                            >
                        예약불가
                    </span>
                    <span class="available"
                          ng-if="Schedule.isAvailableSlot(reserveSlot);"
                            >
                        예약가능
                    </span>
                </div>
            </li>
        </ul>
        <h2 class="positive" ng-if="Schedule.Model.viewSlots.length <= 1">
            오늘은 쉬는 날입니다
        </h2>
    </ion-content>

</ion-view>
